@media (max-width: 767px) {
    .company {
        padding: 50px 20px;
        text-align: center;
        border-top: 1px solid var(--light-color-3);
        border-bottom: 1px solid var(--light-color-3);
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .company {
        padding: 50px 0;
        text-align: center;
        border-top: 1px solid var(--light-color-3);
        border-bottom: 1px solid var(--light-color-3);
        & img {
            width: auto;
            height: 40px;
        }
    }
}
@media (min-width: 1200px) {
    .company {
        padding: 88px 0;
        text-align: center;
        border-top: 1px solid var(--light-color-3);
        border-bottom: 1px solid var(--light-color-3);
        & img {
            width: auto;
            height: 60px;
        }
    }
}
