@media (max-width: 767px) {
    .features {
        padding: 20px;
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            & .feature-icon {
                margin-bottom: 20px;
            }
            & h2 {
                @include h3;
                text-align: center;
            }
            & .feature-desc {
                @include text;
                text-align: center;
            }
        }
    }
    .features-scnd {
        background-color: var(--dark-color);
        .feature {
            & h2 {
                @include h3;
                color: var(--light-color);
            }
            & .feature-desc {
                @include text;
                padding: 0;
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .features {
        padding: 50px 0;
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            & .feature-icon {
                margin-bottom: 20px;
            }
            & h2 {
                @include h3;
                text-align: center;
            }
            & .feature-desc {
                @include text;
                text-align: center;
            }
        }
    }
    .features-scnd {
        background-color: var(--dark-color);
        .feature {
            & h2 {
                @include h3;
                color: var(--light-color);
            }
            & .feature-desc {
                @include text;
                padding: 0;
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}
@media (min-width: 1200px) {
    .features {
        padding: 88px 0;
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            & .feature-icon {
                margin-bottom: 20px;
            }
            & h2 {
                @include h3;
                text-align: center;
            }
            & .feature-desc {
                @include text;
                text-align: center;
            }
        }
    }
    .features-scnd {
        background-color: var(--dark-color);
        .feature {
            & h2 {
                @include h3;
                color: var(--light-color);
            }
            & .feature-desc {
                @include text;
                padding: 0;
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}
